<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="LexyEntities" connectionString="metadata=res://*/PayrollEntitiesModel.csdl|res://*/PayrollEntitiesModel.ssdl|res://*/PayrollEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MSSMLBIZ;initial catalog=kk_sp_payroll;integrated security=False;User Id=sa;Password=getdown;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="LexyEntities" connectionString="metadata=res://*/PayrollEntitiesModel.csdl|res://*/PayrollEntitiesModel.ssdl|res://*/PayrollEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS2005;initial catalog=kk_sp_payroll;integrated security=false;User Id=sa;Password=getdown;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
